@charset "UTF-8";
/**
 * Plugin icon.
 */
#plugin_icon {
	margin: 0 10px 0 0;
}

/**
 * Main wrappers.
 */
#yoast_wrapper {
	float: left;
	max-width: 600px;
	min-width: 50%;
	margin: 0 25px 0 0;
}

#yoast_sidebar {
	float: left;
	max-width: 261px;
	margin: 0 20px 0 0;
}

/**
 * Tab navigation
 */
.nav-tab-wrapper {
	margin-bottom: 0;
}

.yoast_tab {
	display: none;
}
.yoast_tab.active {
	display: block;
	padding: 0.5em 0.9em;
	border: 1px solid #ddd;
	border-radius: 0 3px 3px 3px;
	background-color: #fff;
}
.yoast_tab .text, .yoast_tab .select {
	width: 300px;
}
.yoast_tab li {
	margin-left: 20px;
	list-style-type: disc;
}
.yoast_tab .form-table th {
	width: 300px;
}

.tabwrapper .yoast_tab {
	padding: 0;
	border: none;
	background: none;
}
.tabwrapper .yoast_tab h3 {
	padding: 9px 15px 4px 0;
	font-size: 23px;
	font-weight: 400;
}

/**
 * Boxes used in the sidebar
 */
.yoast_box {
	margin: 0 0 20px 0;
	border: 1px solid #ccc;
	background-color: #fff;
}
.yoast_box h3 {
	padding: 0 0 8px 10px;
	border-bottom: 1px solid #ccc;
}
.yoast_box .inside {
	padding: 0 10px;
}
.yoast_box .inside ul li {
	margin-bottom: 5px;
	list-style: none;
	font-size: 14px;
}
.yoast_box .inside ul li a {
	display: block;
	margin-left: 26px;
}
.yoast_box .inside ul li:before {
	content: "";
	display: block;
	float: left;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 "dashicons";
	color: #aaa;
	margin-right: 10px;
	word-wrap: break-word;
}
.yoast_box .inside ul li.facebook {
	border-top: 1px solid #eee;
	padding-top: 10px;
	margin-top: 10px;
}
.yoast_box .inside ul li.facebook:before {
	content: "";
	color: #3b5998;
}
.yoast_box .inside ul li.twitter:before {
	content: "";
	color: #1DA1F2;
}
.yoast_box .inside ul li.email:before {
	content: "";
	color: #aaa;
}
.yoast_box .inside a {
	text-decoration: none;
}
.yoast_box .inside a:hover {
	text-decoration: underline;
}
