/**
 * Plugin icon.
 */
#plugin_icon {
	margin: 0 10px 0 0;
}

/**
 * Main wrappers.
 */
#yoast_wrapper {
	float: left;
	max-width: 600px;
	min-width: 50%;
	margin: 0 25px 0 0;
}

#yoast_sidebar {
	float: left;
	max-width: 261px;
	margin: 0 20px 0 0;
}

/**
 * Tab navigation
 */
.nav-tab-wrapper {
	margin-bottom: 0;
}

.yoast_tab {
	display: none;

	&.active {
		display: block;
		padding: 0.5em 0.9em;
		border: 1px solid #ddd;
		border-radius: 0 3px 3px 3px;
		background-color: #fff;
	}

	.text, .select {
		width: 300px;
	}

	li {
		margin-left: 20px;
		list-style-type: disc;
	}

	.form-table th {
		width: 300px;
	}

}

.tabwrapper {
	.yoast_tab {
		padding: 0;
		border: none;
		background: none;

		h3 {
			padding: 9px 15px 4px 0;
			font-size: 23px;
			font-weight: 400;
		}
	}
}

/**
 * Boxes used in the sidebar
 */
.yoast_box {
	margin: 0 0 20px 0;
	border: 1px solid #ccc;
	background-color: #fff;

	h3 {
		padding: 0 0 8px 10px;
		border-bottom: 1px solid #ccc;
	}

	.inside {
		padding: 0 10px;

		ul {
			li {
				margin-bottom: 5px;
				list-style: none;
				font-size: 14px;

				a {
					display: block;
					margin-left: 26px;
				}

				&:before {
					content: "\f123";
					display: block;
					float: left;
					-webkit-font-smoothing: antialiased;
					font: normal 16px/1 'dashicons';
					color: #aaa;
					margin-right: 10px;
					word-wrap: break-word;
				}
				&.facebook {
					border-top: 1px solid #eee;
					padding-top: 10px;
					margin-top: 10px;
				}
				&.facebook:before {
					content: "\f304";
					color: #3b5998;
				}
				&.twitter:before {
					content: "\f301";
					color: #1DA1F2;
				}
				&.email:before {
					content: "\f467";
					color: #aaa;
				}
			}
		}
		a {
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
	}


}
